version: '3.8'
services:
  web:
    build: .
    container_name: django_backend
    volumes:
      - .:/app
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - redis_cache

  redis_cache:
    image: redis:latest
    container_name: redis_cache
    ports:
      - "6379:6379"