services:
  web:
    build: .
    container_name: django_backend
    volumes:
      - .:/app
    environment:
      - DB_ENGINE=django.db.backends.postgresql
      # - DB_NAME=postgres
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      # - DB_HOST=postgres
      - DB_PORT=5432
      - REDIS_HOST=redis_cache
      - REDIS_PORT=6379
      - DATABASE_URL=${DATABASE_URL}
    ports:
      - "8000:8000"
    depends_on:
      - redis_cache
      - postgres

  postgres:
    image: postgres:latest
    container_name: postgres_db
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      # - DATABASE_URL=${DATABASE_URL}
    volumes:
      - postgres_data:/var/lib/postgresql/
    ports:
      - "5432:5432"

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin4_container
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=admin
    ports:
      - "5050:80"
    depends_on:
      - postgres

  redis_cache:
    image: redis:latest
    container_name: redis_cache
    ports:
      - "6379:6379"

volumes:
  postgres_data: